<div class="dialog-inner">
  <div class="dialog-inner__text-container">
    <div class="dialog-inner__text">{{_resultString}}</div>
  </div>
  <div class="dialog-inner__buttons-container">
    <button mat-button mat-dialog-close class="dialog-inner__ok-button">Ok</button>
  </div>
</div>
