.dialog-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;

  &__buttons-container {
    margin-top: 10px;
  }

  &__ok-button {
    margin-top: 35px;
    user-select: none;
    cursor: pointer;
    color: white;
    background: rgba(63, 81, 181, 0.9);

    &:hover {
      background: rgba(63, 81, 181, 1);
    }

    &:active {
      background: rgba(63, 81, 181, .5);
    }
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    text-align: center;

    color: #494949;
  }
}
