.main-block {
  width: 50vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__list {
    max-height: 500px;
    overflow-y: scroll;

    &::-webkit-scrollbar-track {
      border-radius: 4px;
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background: rgba(63, 81, 181, 0.1);
    }

    &:hover::-webkit-scrollbar-thumb {
      background: rgb(63, 81, 181);
    }
  }

  &__form-field {
    margin-top: 15px;
  }

  & .mat-tab-group {
    max-width: none;
    width: 100%;
  }

  &__button {
    display: flex;
    justify-content: center;

    & button {
      color: white;
      background: rgba(63, 81, 181, .4);

      &.-enabled {
        color: white;
        background: rgba(63, 81, 181, 0.9);
        cursor: pointer;

        &:hover {
          background: rgba(63, 81, 181, 1);
        }

        &:active {
          background: rgba(63, 81, 181, .5);
        }
      }
    }
  }

  &__previous-expressions {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
}
