.main-block {
  width: 50vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main-block .mat-tab-group {
  max-width: none;
  width: 100%;
}
.main-block__button {
  display: flex;
  justify-content: center;
}
.main-block__previous-expressions {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
