<div class='main-block'>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Working with expressions">
      <mat-form-field class="main-block__form-field">
        <mat-label>Enter the expression</mat-label>
        <input matInput
               [(ngModel)]="postData">
      </mat-form-field>
      <div class='main-block__button'>
        <button mat-button
                (click)='postExpression()'
                [ngClass]="{'-enabled': postData}"
                [disabled]='!postData'
        >Calculate the result
        </button>
      </div>
    </mat-tab>
    <mat-tab label="Previous expressions">
      <mat-list class="main-block__list" role="list">
        <mat-list-item *ngFor='let element of previousExpressions.reverse()'>
          <div class='main-block__previous-expressions'
               *ngIf="element.result !== 'Input Error'">
            <div>{{element.expression}} = {{element.result}}</div>
          </div>
          <div class='main-block__previous-expressions'
               *ngIf="element.result === 'Input Error'">
            <div>{{element.expression}}: {{element.result}}</div>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</div>
